.navbar {
    background: #359ea5e3;

}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.quem-somos{
    background-color: rgba(6, 163, 98, 0.801);

}
.parceiros{
    background-color: #07f37dfd;
    padding-bottom: 20px;

}